# File environment (berisi kredensial sensitif)
.env

# Database SQLite (biasanya tidak disimpan di Git)
/database/*.db
/database/*.sqlite
/database/*.sqlite3

# Log files
*.log
/logs/

# Folder vendor (jika menggunakan Composer)
/vendor/

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
